.lock {
  max-width: initial;
  max-height: initial;
  scale: 1.3;
}
.info {
  margin: 0 auto;
  padding: 0;
}
.section-coins {
  margin-top: 0%;
  padding-top: 0%;
}
.presenter {
  min-height: 80vh;
}
