<app-top-bar></app-top-bar>

<app-squares-presentation></app-squares-presentation>

<div class="col-md-10 ml-auto col-xl-8 mr-auto">
  <div class="mb-3"></div>
  <div class="card">
    <div class="card-header">
      <!-- Ciphers nav tabs -->
      <tabset class="nav-tabs-danger justify-content-center">
        <tab heading="Triple DES">
          <app-triple-des-cipher></app-triple-des-cipher>
        </tab>
        <tab heading="AES">
          <app-aes-cipher></app-aes-cipher>
        </tab>
        <tab heading="Simplified DES">
          <app-simplified-des-cipher></app-simplified-des-cipher>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<app-footer></app-footer>
