<form [formGroup]="arguments" >
  <div class="container">
      <div class="row">
              <div class="col-sm-12 col-lg-10 mr-auto ml-auto">
                  <textarea placeholder="Text to cipher"
                   class="texrtocr form-control"
                   formControlName="plainText"
                   [ngClass]="{'plainTextError' : plainText.invalid && plainText.dirty}"
                   ></textarea>
              </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-5 mr-auto ml-auto submit">
          <button type="button"
       class="btn btn-primary" 
       (click)="noKeyAttack()"
       [disabled]="!plainText.valid">
       Guess Key Size</button>
      </div>
      </div>
       <div class="col-sm-6 col-lg-5 mr-auto ml-auto submit">
              <div class="row">
                <div class="col-sm-6 col-lg-5 ml-auto mr-auto">
                    <div [ngClass]="keySize.invalid && keySize.dirty ? 'form-group has-danger' :'input-group'">
                        <input
                        class="form-control"
                        placeholder="Key Size"
                        type="text"
                        autofocus
                        formControlName="keySize"
                        />
                        <ng-template [ngIf]="!keySize.invalid || !keySize.dirty">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="tim-icons icon-lock-circle"> </i>
                                </span>
                                </div>
                        </ng-template>
                    </div>
                </div>              
      </div>
       </div>
      <div class="row">
        <div class="col-sm-6 col-lg-5 mr-auto ml-auto submit">

        <button type="button"
        class="btn btn-primary" 
        (click)="keyAttack()"
        [disabled]="!arguments.valid">
        Attack</button>
      </div>
      </div>  
      <div class="row"  *ngIf="submitted">
          <div class="col-sm-12 col-lg-10 mr-auto ml-auto">
              <div ><h3 class="mb-3">{{resposeDymcMess}} text</h3></div>
          </div>
          
  
          <div class="col-sm-12 col-lg-10 mr-auto ml-auto">
              <blockquote>
  
                  <p class="blockquote blockquote-danger">
                    {{ cipherText }}
                  </p>
                </blockquote>
          </div>
      </div>
      
  </div>
  </form>