<app-top-bar></app-top-bar>

<div class="wrapper">
  <div class="page-header presenter">
    <img class="path" src="assets/img/blob.png" />

    <img class="path2" src="assets/img/path2.png" />

    <img class="shapes triangle" src="assets/img/triunghiuri.png" />

    <img class="shapes wave" src="assets/img/waves.png" />

    <img class="shapes squares" src="assets/img/patrat.png" />

    <img class="shapes circle" src="assets/img/cercuri.png" />

    <div class="content-center">
      <div
        class="row row-grid justify-content-between align-items-center text-left"
      >
        <div class="col-lg-6 col-md-6">
          <h1 class="text-white">
            We keep your data <br />

            <span class="text-white"> secured </span>
          </h1>
          <p>
            A complete system to encrypt, decrypt and perform cryptoanalysis.
          </p>
        </div>
        <div class="col-lg-4 col-md-5">
          <img class="lock" src="assets/img/lock.png" />
        </div>
      </div>
    </div>
  </div>

  <section class="section section-lg section-coins">
    <img class="path" src="assets/img/path3.png" />

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <hr class="line-info" />
          <h1>
            Choose
            <span class="text-info"> your next step </span>
          </h1>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">
          <div class="card card-coin card-plain">   
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">Classic Ciphers</h4>
                  <hr class="line-primary" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">
                    Encrypt & Decrypt all your important texts
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <button
                class="btn btn-primary btn-simple"
                [routerLink]="['/cipher']"
              >
                Get started
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-coin card-plain">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">Attack</h4>
                  <hr class="line-info" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">Perform cryptanalysis on classic ciphers</li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <button
                class="btn btn-info btn-simple"
                [routerLink]="['/attack']"
              >
                Get started
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-coin card-plain">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">Block Ciphers</h4>
                  <hr class="line-info" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item">AES, DES3, SDES with their respective encryption modes</li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <button
                class="btn btn-info btn-simple"
                [routerLink]="['/block']"
              >
                Get started
              </button>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="card card-coin card-plain">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">Gamma Pentagonal</h4>
                  <hr class="line-info" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item"> Encrypt your texts and understand what is happening with a simple chart</li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <button
                class="btn btn-info btn-simple"
                [routerLink]="['/gamma']"
              >
                Get started
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-coin card-plain">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h4 class="text-uppercase">Public Key Ciphers</h4>
                  <hr class="line-info" />
                </div>
              </div>
              <div class="row">
                <ul class="list-group">
                  <li class="list-group-item"> RSA and more</li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-center">
              <button
                class="btn btn-info btn-simple"
                [routerLink]="['/publickey']"
              >
                Get started
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>

</div>
