<app-top-bar></app-top-bar>

<div class="index-page wrapper">
  <!-- Index page wrapper -->
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">∃nigma•</h1>
        <h3>Select a cipher</h3>
      </div>
    </div>
  </div>
  <div class="col-md-10 ml-auto col-xl-8 mr-auto">
    <div class="mb-3"></div>
    <div class="card">
      <div class="card-header">
        <!-- Ciphers nav tabs -->
        <tabset class="nav-tabs-danger">
          <tab heading="Shift Cipher">
            <app-shift-cipher></app-shift-cipher>
          </tab>
          <tab heading="Affine Cipher">
            <app-affine-cipher></app-affine-cipher>
          </tab>
          <tab heading="Substitution Cipher">
            <app-substitution-cipher></app-substitution-cipher>
          </tab>
          <tab heading="Hill Cipher">
            <app-hill-cipher></app-hill-cipher>
          </tab>
          <tab heading="Permutation Cipher">
            <app-permutation-cipher></app-permutation-cipher>
          </tab>
          <tab heading="Vigenère Cipher">
            <app-vigenere-cipher></app-vigenere-cipher>
          </tab>
          <tab heading="Gamma">
            <app-gamma></app-gamma>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
