<app-top-bar></app-top-bar>

<!-- Index page wrapper -->
<div class="index-page wrapper">
  <div class="page-header header-filter">
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">∃nigma•</h1>
        <h3>Attack and Decrypt!</h3>
      </div>
    </div>
  </div>
  <div class="col-md-10 ml-auto col-xl-8 mr-auto">
    <div class="mb-3"></div>
    <div class="card">
      <div class="card-header">
        <!-- Ciphers nav tabs -->
        <tabset class="nav-tabs-danger">
          <tab heading="Shift Cipher">
            <app-shift-attack></app-shift-attack>
          </tab>
          <tab heading="Affine Cipher">
            <app-affine-attack></app-affine-attack>
          </tab>
          <tab heading="Substitution Cipher">
            <app-substitution-attack></app-substitution-attack>
          </tab>
          <tab heading="Hill Cipher">
            <app-hill-attack></app-hill-attack>
          </tab>
          <tab heading="Permutation Cipher">
            <app-hill-attack></app-hill-attack>
          </tab>
          <tab heading="Vigenère Cipher">
            <app-vigenere-attack></app-vigenere-attack>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
