<div class="wrapper">
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a class="navbar-brand" placement="bottom" [routerLink]="['/']"
            ><h1 class="title">∃nigma •</h1></a
          >
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']"> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/cipher']">
                Encrypt & Decrypt
              </a>
            </li>
            <li class="nav-item"></li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/attack']"> Attack </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/DavidFM43/colossus">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/DavidFM43/colossus">
                Contribute
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://opensource.org/licenses/MIT">
                License
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
